.cookie-consent {
    position: fixed;
    bottom: 20px; /* Отступ от нижнего края */
    left: 50%; /* Смещение на 50% слева */
    transform: translateX(-50%); /* Смещаем на половину ширины, чтобы центрировать */

    padding: 20px 30px; /* Добавляем отступы */
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Округляем углы */
    z-index: 9999; /* Устанавливаем высокий z-index, чтобы баннер всегда был сверху */
    background-color: #242424;
    height: 100px;
  }
  
  .cookie-consent p {
    margin: 0;
    padding-right: 10px;
    display: inline-block;
  }
  
  .cookie-consent button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .cookie-consent button:hover {
    background-color: purple;
  }
  