body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .charts-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .chart-container {
    width: 48%; /* 48% чтобы поместились два графика на одной строке */
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;

  }
  
  .chart-container canvas {
    height: 350px !important; /* Задаем фиксированную высоту для графика */
  }
  
  .logs-container {
    width: 48%; /* 48% для размещения рядом с графиком */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 425px; /* Чтобы окно с логами было такой же высоты, как и графики */
    overflow-y: auto;
    margin: 10px;
  }
  
  .logs-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .logs-container li {
    padding: 10px;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 4px;
    color: black;

  }
  .text{
    text-align: center;
    color:black;
  }